.BookingPage{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.User{
    display: flex;
    flex: 1;
    width: 80%;
}

.Main{
    display: flex;
    flex: 3;
    width: 80%;
    margin-top: 4vh;
    margin-bottom: 10vh;
    align-items: center;
}

.BookingPage p{
    font-weight: bold;
    color: black;
}