.TablesPage{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.Header{
    display: flex;
    background-color : #eb8b35;
    width: 40vw;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    margin-top: 3vh;
}

.Exit{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    border-color: #FFFFFF;
}

.Exit a{
    color: #FFFFFF;
    text-decoration: none;
}

.Exit a:hover{
    color: #a43604;
}

.Info{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Info p {
    margin: 0;
    color: #FFFFFF;
}

.Tables{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PopUp{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    align-items: center;
    justify-content: center;
}
