@font-face {
    font-family: 'primary-font';
    src: url(../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

html{
    display: flex;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex: 1;
    font-family: primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#root{
    display: flex;
    flex: 1
}

.App{
    display: flex;
    flex: 1
}