.Login{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.main-col{
    padding:50px;
    background-color: #4E59E0;
    box-shadow: 10px 5px 15px rgb(32, 32, 32, 0.8);
}

.form-group label{
    color:#fff;
    text-align:left;
    font-size:18px;
}

.form-group .col-9 input{
    width: 100%;
}

.form-group .col-9{
    padding:5px 15px;
}

.form-group .col-3{
    padding:5px 15px;
}

#defaultButton{
    font-size:20px;
    font-weight:800;
    width:100%;
    background-color:#E04E59;
    color: #fff;
    border: none;
    margin:0px ;
    margin-top:20px;
    padding: 10px 0px;
}

.form-control::placeholder{
    opacity:0.5;
    font-weight: normal;
}

.form-group{
    width:100%;
}

.form-row{
    height:100%;
}

.outer-row{
    width:100%;
}

/* @media only screen and (max-width:895px){
    .Login{
        width:80%;
    }
}

@media only screen and (max-width:530px){
    .Login{
        width:90%;
    }
}

@media only screen and (max-width:1251px){
    .form-group label{
        font-size:16px;
    }
}


@media only screen and (max-height: 600px){

    button {
        margin-top:2px;
        padding-top:4px;
        padding-bottom:4px;
        font-size:15px;
        font-weight:800;
        width:100%;
        background-color:#E04E59;
        color: #fff;
        border: none;
    }
} */
