.Login{
<<<<<<< HEAD
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.main-col{
    padding:50px;
=======
    height:100%;
    width:40%;
}

.outer-row{
    height:100%;
    width:100%;
    margin:0px;
}

.main-col{
    height:40%;
    width: 100%;
>>>>>>> dc39a276ab24a64603f5633528b55556894949c1
    background-color: #4E59E0;
    box-shadow: 10px 5px 15px rgb(32, 32, 32, 0.8);
}

<<<<<<< HEAD
=======
@media only screen and (max-height:440px){
    .main-col{
        height:60%;
    }
}

.inner-row{
    height:100%;
    width:100%;
    margin:0px;
}

>>>>>>> dc39a276ab24a64603f5633528b55556894949c1
.form-group label{
    color:#fff;
    text-align:left;
    font-size:18px;
}

.form-group .col-9 input{
    width: 100%;
}

.form-group .col-9{
    padding:5px 15px;
}

.form-group .col-3{
    padding:5px 15px;
}

<<<<<<< HEAD
#defaultButton{
=======
button{
    margin-top:5px;
    padding-top:10px;
    padding-bottom:10px;
>>>>>>> dc39a276ab24a64603f5633528b55556894949c1
    font-size:20px;
    font-weight:800;
    width:100%;
    background-color:#E04E59;
    color: #fff;
    border: none;
<<<<<<< HEAD
    margin:0px ;
    margin-top:20px;
    padding: 10px 0px;
}

.form-control::placeholder{
    opacity:0.5;
    font-weight: normal;
=======
>>>>>>> dc39a276ab24a64603f5633528b55556894949c1
}

.form-group{
    width:100%;
}

.form-row{
    height:100%;
}

<<<<<<< HEAD
.outer-row{
    width:100%;
}

/* @media only screen and (max-width:895px){
=======
.form-control::placeholder{
    opacity:0.5;
    font-weight: normal;
}

@media only screen and (max-width:895px){
>>>>>>> dc39a276ab24a64603f5633528b55556894949c1
    .Login{
        width:80%;
    }
}

@media only screen and (max-width:530px){
    .Login{
        width:90%;
    }
}

@media only screen and (max-width:1251px){
    .form-group label{
        font-size:16px;
    }
}

<<<<<<< HEAD

=======
@media only screen and (min-width: 450px){
    .form-inline .form-group{
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }
}
>>>>>>> dc39a276ab24a64603f5633528b55556894949c1

@media only screen and (max-height: 600px){

    button {
        margin-top:2px;
        padding-top:4px;
        padding-bottom:4px;
        font-size:15px;
        font-weight:800;
        width:100%;
        background-color:#E04E59;
        color: #fff;
        border: none;
    }
<<<<<<< HEAD
} */
=======
}
>>>>>>> dc39a276ab24a64603f5633528b55556894949c1
