.ReserveTable{
    position:relative;
    width:100%;
    height:100%;
}

.UserSession{
    position: absolute;
    width: 20%;
    height: 15%;
    left: 21px;
    top: 14px;
    background: #4E59E0;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.UserSession p{
    margin-bottom:0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding-left:5px;
}

#SessionText{

    margin-bottom:0.5em;
    text-align: center;
    color: #FFFFFF;
    padding-left:0px;
}