.RegisterAcc{
    display:flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.Username, .Password, .Submit, .ErrorMessage, .SubMessage{
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.ErrorMessage{
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
    font-size: small;
}

.SubMessage{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SubMessage p{
    font-size: small;
    margin: 0;
}

#signin{
    text-decoration: underline;
    padding-left: 0.5vw;
    cursor: pointer;
}

.Submit input{
    background-color: #eb8b35;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 1vh;
}