.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 2vw;
}

.FormSection{
    flex: 1;
    width: 100%;
    padding: 1vh 0;
}