.FormItem{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1vh 0;
}

.FormItem label{
    flex: 1;
    padding-bottom: 2vh;
}

.FormItem input{
    flex: 2;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0.5vw;
}