.Item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;    
    text-decoration: none;
    color: #dedfe4;
}

.Item:hover{
    color: rgb(222, 223, 228, 0.5);
}

.Item p{
    flex: 3;
    margin: 0;
}

.Icon{
    flex: 1;
}