.ReserveUserSection{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogOut{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.Session{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SessionInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #577DE0;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    padding:5px 5px;
    font-size: 12px;
}
 
.Session p{
    margin-bottom:0px;
}

#SessionText{
    margin-bottom:0.5em;
    text-align: center;
    padding-left:0px;
    text-decoration:underline;
}